/* HELPER */
* {
  /* border: 1px solid steelblue; */
}

/* Page layout */
.page-container {
  display: flex;
}

/* NAVBAR */
/* ========================================= */
.navbar {
  border-bottom: 2px solid black;
}
.profile-pic h3 {
  color: white;
}

.secondary-item {
  font-size: 0.9rem;
  font-weight: 500;
}

.nav-search {
  background-color: #464649;
  color: #c1c1c2;
  border: none;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-search-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #575d63;
  color: #c1c1c2;
}

/* Menu Bar */
.menu-bar {
  width: 20%;
  height: 100vh;
  background-color: #1f1f23;
}

.menu-bar .container {
  padding-left: 5px;
  padding-right: 5px;
}

/* stalked channel header stuff */
.stalked-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.header-text {
  text-transform: uppercase;
  align-self: center;
  color: #dedadd;
  font-size: 0.8em;
  font-weight: 500;
}

.bi-plus-square {
  color: #dedadd;
}

/* Channel Cards */
.channel-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

/* Channel Card Pic + Text */
.channel-left {
  display: flex;
}
/* Channel Pics */
.channel-pic {
  width: 30%;
  margin-right: 10px;
}
.channel-pic img {
  width: 100%;
}

/* Channel text */
.channel-title h3 {
  color: #dedadd;
  font-size: 0.9em;
  margin: 0;
}

.channel-info h4 {
  color: #dedadd9d;
  font-size: 0.7em;
  margin: 0;
}

/* Channel Viewers */
.channel-views {
  color: #dedadd;
  font-size: 0.8em;
  align-self: flex-start;
}

.stalked-channels p {
  color: rgb(35, 241, 197);
  font-size: 0.7em;
}
/* Main + Additional  */
main {
  width: 100%;
}

/* Big Box Content */
.main-content {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  height: 20em;
}

/* Position Main Stream content */
.main-stream-box {
  display: flex;
  justify-content: center;
  position: relative;
  top: 3%;
}

/* Stream Image and Info */
.main-stream {
  display: flex;
  margin: auto;
}

/* Stream image */
.main-stream img {
  height: 300px;
  width: 450px;
  object-fit: cover;
}

/* Stream Info */
.main-stream-info {
  background-color: #18181b;
  width: 150px;
}

/* Stream Info Title (Pic + Text) */
.main-stream-title {
  display: flex;
}

/* Stream Info Title Styling */
.main-stream-title h4,
h3 {
  color: rgb(35, 241, 197);
  margin: 0;
}

/* Steam Info Main Title  */
.main-stream-title h3 {
  margin-top: 5px;
  font-size: 1em;
}

/* Stream Info Secondary Title */
.main-stream-title h4 {
  font-size: 0.7em;
}

/* Stream Info Views */
.main-stream-title h4:last-of-type {
  color: #dedadd;
}

/* Stream Info Pic */
.main-stream-pic img {
  width: 50px;
  height: 50px;
  margin: 5px 10px 0 10px;
}

/* Stream Info Description */
.main-stream-info p {
  color: #dedadd;
  font-size: 0.6em;
  text-align: left;
  padding: 0 7px;
}

/* Stream Info Category (button) */
.main-stream-info button {
  width: 50px;
  height: 20px;
  margin: 10px;
  padding: 1px;
  font-size: 0.5em;
}

/* Bunch of Smaller Content */
.additional-content {
  background-color: #0e0e10;
  height: 15em;
}

/* Box that holds all additional content */
.additional-content-box {
  margin: 0px 15px;
}

/* Additional content Title */
.additional-content-box h3 {
  font-size: 1.1em;
  padding-top: 5px;
  margin-bottom: 5px;
}

/* Additional Content Cards (all) */
.additional-content-cards {
  display: flex;
  justify-content: space-between;
}

/* Add-Content Card (single) */
.add-content-card {
  margin: 0 15px;
}

/* Add-Content Card Images */
.add-content-card img {
  width: 200px;
  height: 110px;
  object-fit: fill;
}

/* Add-Content Card Title */
.add-content-card-info h3 {
  color: #dedadd;
  font-size: 1em;
}

/* Add-Content Card Info */
.add-content-card-info h4 {
  color: #575d63;
  font-size: 0.8em;
  margin-bottom: 0;
}

/* Add-Content Card Category (button) */
.add-content-card-info button {
  width: 50px;
  height: 20px;
  padding: 1px;
  font-size: 0.5em;
}
